:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.add_lead_form {
    .dialog-header {
        height: 40px;
        display: flex;
        align-items: center;
        background-color: black;
        color: white;
        font-weight: 600;
        font-size: 20;
        padding: 10px;
    }

    .lead-form-row {
        display: flex;
        padding: 10px;

        .column {
            flex: 50%;
            padding: 10px;

            .form-field {
                position: relative;
                margin-bottom: 10px;

                label.required:after {
                    content: " *";
                    color: red;
                }

                input {
                    width: 100%;
                    height: 30px;
                    border: 1px solid #ccc!important;
                    border-radius: 4px;
                    margin-top: 5px;
                }

                app-loc-type-selector {
                    width: 100%;
                }
            }
        }

    }

    .action-button-wrapper {
        padding-right: 20px;
        float: right;

        .btn-cancel {
            background-color: #ccc;
            color: #777;
        }
        .add_lead_btn:disabled {
            opacity: 0.4;
        }
    }
}